<!DOCTYPE html>
<html>
    <head>
        <title>MyBooks</title>
        <style>
            * {
                    text-align: center;
            }
            body {
                background-color: #F2E9B8;
            }
         </style>
    </head>
    <body>
        <h1>Welcome to MyBooks! Your book database.</h1>
        <button class = "addbutton"><a href="/bookinfo/list">See your list</a></button>
        <button class = "addbutton"><a href="/bookinfo/search">Search for a book</a></button>
    </body>
</html>